@model IEnumerable<MVCApp.Models.Employee>
@using MVCApp.Models;
@{
    ViewBag.Title = "Employee List";
}
<div style="font-family:Arial">
    <h2>Employee List</h2>
    <ul>
        @foreach (Employee emp in @Model)
        {
            <li>
                @Html.ActionLink(emp.Name, "Details", new { @id = emp.EmployeeId })
            </li>
        }

    </ul>
    @Html.ActionLink("Back to Department List", "Index", "Department")
</div>


